doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content

                article.blog__article
                    header.blog__header
                        h1 Case-insensitive Django field
                        p.
                            Sometimes you need to have a model field where case
                            sensitivity is something you need to omit. There is
                            a pretty good chance you will implement it wrong. If
                            you use Postgres database I have an elegant solution
                            for you.

                    p.
                        Postgres offers a great
                        <a href="https://www.postgresql.org/docs/current/citext.html" target="_blank">extension</a>
                        that comes really handy in our situation. It's called <code>citext</code>
                        (Case Insensitive text). This field works just like a normal text
                        field but once compared with another text both are converted to
                        lowercase. This means you don't have to take case of case
                        sensitivity at all.

                    p.
                        What's even better is that Django comes with an
                        <a href="https://docs.djangoproject.com/en/dev/ref/contrib/postgres/fields/#citext-fields">implementation</a>
                        for case-insensitive fields. Following fields can substitude
                        your current fields:

                    ul
                        li: code CIText
                        li: code CICharField
                        li: code CIEmailField
                        li: code CITextField

                    p
                        Once you ask database with <code>filter()</code> ORM function
                        you don't have to care about case sensitivity. What's even better
                        is when you have an unique index (<code>uniq=True</code>) you
                        can be sure that data in the field are perfectly case-insensitive
                        unique. Typical use-case is email field for your users. Once your
                        friend signs-up with <code>my.cool@email.com</code> addres he can
                        later sign-in with <code>My.Cool@Email.com</code>. In the same time
                        when he tries to re-sign-up with any variant of that email in terms
                        of lower/upper letters he cannot - the email is already registered.

                    footer.blog__footer
                        time(pubdate, datetime="2019-08-22") Published on 1. September 2020
