doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content

                article.blog__article
                    header.blog__header
                        h1 How to let Sphinx autodocument your code
                        p.
                            In this article we will look at
                            <a href="https://www.sphinx-doc.org" target="_blank">Sphinx</a>
                            documentation tool and how it can autodocument your code.

                    p.
                        Sphinx is a great documentation tool for all sort of languages. But it's
                        mainly used by Python developers. Well site
                        <a href="https://readthedocs.org" target="_blank">ReadTheDocs</a> hosts
                        almost every Python library documentation and its main intent is usage
                        with Sphinx. But how to write the docs? I mean you can write docs in Sphinx
                        page by page or you can let Sphinx help you a little bit to leverage your
                        documentation in your source code (if you have some).

                    p.
                        Sphinx has the ability to read your code and parse pydoc between <code>"""</code>
                        and <code>"""</code> quotes.

                    <script src="https://gist.github.com/im-n1/ba25ed7e2ea9dbcd6121e75be37829c0.js"></script>

                    p.
                        This is an example method with some pydoc. For full documentation what and
                        how can be documented please look
                        <a href="https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#info-field-lists" target="_blank">here</a>.

                    p.
                        So let's say you did set up Sphinx project with <code>sphinx-quickstart</code>
                        command and now you are ready to write your project documentation. But how
                        not to monkey write all the documentation when you already have some in your
                        source code? You can include modules/classes/methods/function documentation
                        into your hand written documentation and save some hand typing. Also the
                        logic of keeping technical detail in your code which is included into your
                        main documentation prevents outdated or even missing documentation of new
                        methods.

                    p.
                        First of all you need to add <code>sphinx.ext.autodoc</code> into
                        <code>conf.py</code> file under <code>extensions</code> list. This
                        unlocks new
                        <a href="https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html" target="_blank">directives</a>.

                    p.
                        Next you need to add your project path to <code>PATH</code>. It's done in
                        <code>conf.py</code> file. In the beggining of the file you can see
                        prepared lines <code>sys.path.insert(....)</code>. Let's say our project
                        is in the directory <code>app</code> and you whole documentation in
                        </code>docs</docs> folder. In such case following lines will do the trick:

                    <script src="https://gist.github.com/im-n1/b580554b2248b2f2d7fccc5e01774fe7.js"></script>

                    p.
                        In case your project in written in Django framework you need to bootstrap it:

                    <script src="https://gist.github.com/im-n1/16d0a4909b943b5adda3fb72600a3eef.js"></script>

                    p.
                        After that you can create a document like:

                    <script src="https://gist.github.com/im-n1/9e4e13c4910c175f3f56c905db4955c1.js"></script>

                    p.
                        Which gives you the following autodocumented result:

                    p.
                        <img src="/imgs/blog/how-to-let-sphinx-autodocument-your-code/output.png">

                    p.
                        Use it wisely.

                    footer.blog__footer
                       time(pubdate, datetime="2020-02-25") Published on 25. February 2020
