doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content

                article.blog__article
                    header.blog__header
                        h1 How to write a macro in Vim
                        p.
                            Macros are amazing but you have no idea
                            what they are and why they are amazing. Well
                            let's change that in a few minutes.
                    p.
                        Macro is essentialy a set of instructions which you
                        "record" (just like you record your voice for example)
                        and then you run it (play that record). The thing is you
                        can run them as many times you want in a row what makes
                        them very powerful. So how to do it?

                    p.
                        You start in <code>NORMAL</code> mode. To start recording a macro you
                        press <code>q</code> key and then a key from <code>a-z</code>
                        which you want to macro store under. Yes, you can record
                        multiple macros and then run them arbitrarily. So let's say
                        you name your macro <code>a</code> so press <code>q</code> and
                        then <code>a</code> key. You will see in right bottom
                        conrner that vim tell you you are "recording @a" (<code>@</code> is
                        symbol for macro).

                    p.
                        From now whatever sequance of keys you press is recorded until
                        you get backto <code>NORMAL</code> model (<code>Esc</code> key)
                        and then pres <code>q</code> to stop recording your macro.
                        So now you can create macro with any functionality.

                    p.
                        Last thing you need to know is how to run such macro. If you
                        named your macro <code>a</code> you can run it with
                        <code>@</code> key and then <code>a</code> where <code>@</code>
                        stands for macro and <code>a</code> key for the macro name.
                        You can also re-run your last maro run with <code>@@</code> key. But
                        probably the most interesting thing is to run a macro
                        multipletimes in a row. You can do that in classic vim way
                        where you press <code>10@d</code> which means runs 10 times my macro
                        called <code>a</code>.

                    p.
                        For more info about macros head to the official documentation
                        <a href="https://vim.fandom.com/wiki/Macros" target="_blank">page</a>.
                        I hope macros serves you good.

                    footer.blog__footer
                        time(pubdate, datetime="2019-07-17") Published on 17. July 2019
