doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content

                h1 Blog

                ul.blog__article-list
                    li.blog__article-list-item
                        a(href="case-insensitive-django-fields.html").
                            Case-insensitive Django field
                    li.blog__article-list-item
                        a(href="how-to-let-sphinx-autodocument-your-code.html").
                            How to let Sphinx autodocument your code
                    li.blog__article-list-item
                        a(href="python-simple-http-server-for-tests.html").
                            Python simple HTTP server for tests
                    li.blog__article-list-item
                        a(href="how-to-build-a-website-without-a-bloat.html").
                            How to build a website without a bloat
                    li.blog__article-list-item
                        a(href="/blog/how-to-write-a-macro-in-vim.html").
                            How to write a macro in Vim

