head(lang="en")
    meta(charset="utf-8")
    title n1's personal site
    link(rel="stylesheet", href="/css/minireset.min.css")
    link(rel="stylesheet", href="/css/style.css")

    //- Favicon
    link(rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
    link(rel="manifest" href="/favicon/site.webmanifest")
    link(rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
