aside.sidebar
    a.sidebar__me(href="/")
        img(src="/imgs/me.png", alt="n1's photo", title="n1")

    nav.sidebar__menu
        ul
            li.sidebar__menu-item: a(href="/blog/index.html") blog
            li.sidebar__menu-item: a(href="/projects.html") projects
            li.sidebar__menu-item: a(href="/dtops.html") dtops
            li.sidebar__menu-item: a(href="/cheatsheets.html") cheatsheets
            li.sidebar__menu-item: a(href="/memories.html") memories
            li.sidebar__menu-item: a(href="/advices.html") advices
            li.sidebar__menu-item: a(href="/content.html") content
            li.sidebar__menu-item: a(href="/gpg.html") gpg
