doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content

                h1 Advices

                ul.advices
                    li Be true to yourself, you only get one try.
                    li Don't get a random bitch pregnant.
                    li Look after your teeth.
                    li Learn to save money.
                    li Learn how money can work for you.
                    li.
                        Don't be scared to get into a fight, if you
                        don't show weakness you'll get into less shit
                        than if you do.
                    li Don't be late.
                    li You are what you eat.
                    li Your body is capable of amazing things. Explore them.
                    li Don't be lazy.
                    li Dress well - especially shoes.
                    li When someone is talking you are listening.
                    li How hungry you are is a measure of how soon you should eat, not how much you should eat.
                    li Wake up early.
                    li Drink your coffee black.
                    li Repeat people's name when you meet them.
                    li Learn to enjoy hunger.
                    li Meet with friends more often than you think you have to.
                    li Walk more.
                    li Bring a bottle of wine.
                    li Money will come back, time not.
                    li Think globally act locally.
