doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content

                h1 Cheatsheets

                h2 (Neo)Vim

                h3 Moving content
                dl
                    dt: code >>
                    dd Increase indentation of the current line.

                    dt: code <<
                    dd Decrease indentation of the current line.

                    dt: code CTRL + t
                    dd Increase indentation of the current line in Insert mode.

                    dt: code CTRL + d
                    dd Decrease indentation of the current line in Insert mode.

                h3 Buffers
                dl
                    dt: code CTRL + w T
                    dd Current buffer into new tab.

                    dt: code CTRL + w r
                    dd Swap split windows - forwards.

                    dt: code CTRL + w R
                    dd Swap split windows - backwards.

                    dt: code CTRL + w v
                    dd Split current window vertically.

                    dt: code CTRL + w s
                    dd Split current window horizontally.

                h3 Vertical scrolling
                dl
                    dt: code CTRL + Y
                    dd Move up - 1 line

                    dt: code CTRL + E
                    dd Move down - 1 line

                    dt: code CTRL + U
                    dd Move up - 1/2 page

                    dt: code CTRL + D
                    dd Move down - 1/2 page

                    dt: code CTRL + B
                    dd Scroll up - one page

                    dt: code CTRL + F
                    dd Scroll down - one page

                h3 Horizontal scrolling
                dl
                    dt: code zh
                    dd Side scroll left - 1 line

                    dt: code zl
                    dd Side scroll right - 1 line

                    dt: code zH
                    dd Side scroll left - 1/2 screen width

                    dt: code zL
                    dd Side scroll right - 1/2 screen width

                h3 Miscellanious
                dl
                    dt: code CTRL + R "
                    dd Paste yanked string in Insert mode

                    dt: code CTRL + ^
                    dd Cycle between last 2 files

                    dt: code gv
                    dd Repeat last visual selection

                    dt: code f.
                    dd Jump to the next "." character

                    dt: code #
                    dd Highlight words equal the one under cursor + jumps to previous match

                    dt: code *
                    dd Highlight words equal the one under cursor + jumps to nect match

                h3 Plugin: fzf.vim
                dl
                    dt: code :BLines
                    dd Search in current buffer (file) lines

                    dt: code :Lines
                    dd Search in all open files (buffers) lines

                    dt: code :Commits
                    dd Search in git logs and see diffs

                    dt: code :BCommits
                    dd Search in git logs for current file and see difs

                    dt: code :Marks
                    dd Search in all marks

                h3 Plugin: Markology
                dl
                    dt: code m!
                    dd Toggle Markology on/off

                    dt: code m+
                    dd Add a mark on current line

                    dt: code m-
                    dd Remove a mark from current line

                    dt: code m_
                    dd Remove all marks from current file

                    dt: code m?
                    dd Show preview window with all marks in current file

                h2 feh
                dl
                    dt: code /
                    dd Fit to window

                    dt: code !
                    dd Fill the window

                    dt: code f
                    dd Fullscreen

                    dt: code ↑
                    dd Zoom in

                    dt: code ↓
                    dd Zoom out

                    dt: code d
                    dd Show filename
