doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content
                h1 Content

                p Some quality content that's worth to watch/read.

                h2 YouTube

                h3 Short
                ul
                    li
                        a(href="https://youtu.be/GB0V3WXWvK8", target="_blank")
                            | 7 Stoic Lessons - Ryan Holiday
                    li
                        a(href="https://youtu.be/Sq9ZBzKQAsM", target="_blank")
                            | Knowledge vs Thinking - Neil deGrasse Tyson
                    li
                        a(href="https://youtu.be/eKcvth7okXQ", target="_blank")
                            | Social Media is Destroying Us - Joe Rogan & Elon Musk

                h3 Long
                ul
                    li
                        a(href="https://youtu.be/cdP3L73yySM", target="_blank")
                            | Joe Rogan Experience #1318 - Hotep Jesus
                    li
                        a(href="https://youtu.be/6Zo_FTUNDBI", target="_blank")
                            | Joe Rogan Experience #1370 - Brian Grazer
                    li
                        a(href="https://youtu.be/oGTQ0Wj6yIg", target="_blank")
                            | Joe Rogan Experience #1419 - Daryl Davis
                    li
                        a(href="https://youtu.be/ZPWH5TlbloU", target="_blank")
                            | The American Dream By The Provocateur Network
                    li
                        a(href="https://youtu.be/Y5ZFKYtHdsM", target="_blank")
                            | Joe Rogan Experience #1256 - David Lee Roth
                    li
                        a(href="https://youtu.be/ycPr5-27vSI", target="_blank")
                            | Joe Rogan Experience #1169 - Elon Musk
