doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content
                h1 Dtops

                .dtop__container

                    figure.dtop
                        a.dtop__link(href="imgs/dtops/dtop_4.png", target="_blank")
                            img(src="imgs/dtops/dtop_4_tmb.png" alt="Dtop 4")
                        figcaption.dtop__label February 2020

                    figure.dtop
                        a.dtop__link(href="imgs/dtops/dtop_3.png", target="_blank")
                            img(src="imgs/dtops/dtop_3_tmb.png" alt="Dtop 3")
                        figcaption.dtop__label December 2019
                    
                    figure.dtop
                        a.dtop__link(href="imgs/dtops/dtop_2.png", target="_blank")
                            img(src="imgs/dtops/dtop_2_tmb.png" alt="Dtop 2")
                        figcaption.dtop__label September 2019

                    figure.dtop
                        a.dtop__link(href="imgs/dtops/dtop_1.png", target="_blank")
                            img(src="imgs/dtops/dtop_1_tmb.png" alt="Dtop 1")
                        figcaption.dtop__label August 2019

                    figure.dtop
                        a.dtop__link(href="imgs/dtops/dtop_0.png", target="_blank")
                            img(src="imgs/dtops/dtop_0_tmb.png" alt="Dtop 0")
                        figcaption.dtop__label May 2019
