doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content
                h1 GPG public key

                .gpg
                    pre.block.

                        -----BEGIN PGP PUBLIC KEY BLOCK-----

                        mQGNBFuBuSkBDAC00SZMhgq4uBPsHgJeb2fZtxklHfJBW2LBX3dz6oy8OJErxshX
                        cxax3sP4DMFt21ZEquiDsn9tI0czvbnvlxUivYMVzfX/+rSwm+OYV/Ru4kSbjdx5
                        brx6ZSSwBv9XfARj9h5BphEuwmxW2+Kejnv/d/qIYKE8h0xfnRaLUM/oL9Cld0K0
                        9Kmuu/GxEolQAg3yJ9k6l7Kx/0F0oa3BrYzDAY/MPyLQeGopqHHySEykML9Wpn6l
                        MlFkBpXRhRtk2vPn6C8/dGFtFT4L2bVuYMjD07J/MqVfCIS4zB3zZ8VA535sHhf/
                        bi5iSCyH/zAjzEZ16mMzb1jKzLsSuTpNsjpef8tfqqMYsFPoQW9CHB1zvW0pMrlA
                        NlgPV0KZ4JlMNi+mz9oizPyXfiXpBStuE0dnQBG5EZPyWwqVBZwIFex3UBEfrREN
                        0oneTB9w/5CxxxasLvRiQwAVfCVR5KygmYMlozlGWEWVdbpAKwanPAfvktKYXarK
                        F9GFnypNpO+nUzsAEQEAAbQeUGF2ZWwgPGhyZGluYS5wYXZlbEBnbWFpbC5jb20+
                        iQHOBBMBCgA4AhsDBQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAFiEEtUa7b+7N4IME
                        5USjVIpzjk6sq00FAl9ExBwACgkQVIpzjk6sq03s9Qv/T5EJi7XlG/ytUpf92T5Q
                        mgUD3vrg5LQK5fwmQRQLYwS/QolV4yDXZ0GAQKJHwM3KutTiytyj877R46raqsve
                        IIE2ozjgryT9kn+UU5TrEhblWME55qWfdb0HfvjJVvhcUIakKYn5/O+RqMSAjZU9
                        iCfPumQmN6DF1a1qtXB3wTKj82mcKPRQCVnUhY7oYddxKYxVF7Ta2D9pPK0qsMFZ
                        SxWV4Ir/DWKTKrZN8p/lT25rnJ4ugoCGE6KqbwVdDxIsxj4vyU5uUMLYL1uFDAJd
                        /ZbkEJznK/pHVjllwQ34vlWTfm9rQTzBAA2BVpCqbo/FTIQzG9+fGdgJr9TGAC0d
                        pqz+w7DO7FQh9ClksXWdPwU7oSXC5fNROg38fa+UqlpdchLzzzuGM+XcA8qgiW3c
                        QDYxDrlkXUmpLdM3kAX1YFbo+hsCpUhFEUG3+ZRiaGgLcR9dhQm+CpQ2uHkZ4IJ8
                        zPqT5kqVQjobfNBbosS8uuXzZ1mpAXg99WtMEd4JK1W1uQGNBFuBuSkBDADKlvYp
                        BF/Ii36x05W8Hx35rStA07Ym6dm2C0td39w8JewudlpzTBITu4+ARkdZFw8wU6ZR
                        dABOe2aubRs2n6u8MbzReZUb/W7ZGC63p2DyVrsPDRJ9l2LmN3UsWVNX7jlNWpPv
                        oN5aIc2BlTlJPiW5oegp4Hb74I5VVqjkQ6O1v0wDwkOXTDyeN+SEEZoJcw0ushU8
                        dY9wYNj8nLi6hmPiujy6FakZmlGkA5vRMSaXJql/SfUKK0FwNQNZUr9Ra1Q3kg/a
                        nDy8vkFrVdZqXOMsErbkJXu4PWDEXlwGRPn2z2zefuL6ZrC4oN3h6diiIxdLTSSE
                        YB0Oeu8MjKTMOvNrLyW8WlZyAhnMQ9v6ulCoZ2yZ9qKWeTh9y/35Lw8P6g+ofWWg
                        Q7Y8NcxX6MhSI0Zdkpu1zA7f1guIFNj7KeJXkE15jng9T3dtvxi/rXqh2w8tAscQ
                        7d3vmAvyGoktS13aVpDE4LyXYSpCxpX/RweDbleYJNUeawIA1/6yQZO4Xb0AEQEA
                        AYkBvAQYAQoAJhYhBLVGu2/uzeCDBOVEo1SKc45OrKtNBQJbgbkpAhsMBQkDwmcA
                        AAoJEFSKc45OrKtNC8UMAIstCzAaM6uHKU3QqcG6w2mtvOoW2M13CZNF8os4MO6r
                        AS68uDoJu9WDY5AN+3OtYeZGed4e3KKOwajcZm4P9Dlg0mZH2aKIp/EXwDa6vVI0
                        71au5BXGVVmbzT8KseIFK/6/PImSu+EdQFDtXDoy4S1s7s/ZveUnqKsoP6qLgVXz
                        u5dIa3x6dfwceLCahAAbXBio6B0iwUWYT0I3V7x/2AGB3otgkBkcTYW2ZhOXMybw
                        rbWbtcDaftnXopOSnA6EkbiIGui3bKrBdQAiAZI099q2/Ml+0mlkoRmOb0K45uF3
                        Pj2a0cnoA2UJ9KMWNOemnbFFAqfkaOM+3eAbiAycjdAZ5hqYrDntCkvXjEa9FqSz
                        5BXaelKlZlvxDqGL/FMTPCnZ1SmYo6YvcDgvIUMV/D1Ckzn41neZX+Tq04tzsmY3
                        j2G/aSglRPqUNmM5dcy5NnaP2uu53tEx8qcAtLoRV+4btL0YFJkQpcALoIuFGyD3
                        3aXUu1M4rAPJCeUM5OOW1A==
                        =oJz7

                        -----END PGP PUBLIC KEY BLOCK-----

                    p.
                        Download the key and paste it into a text file
                        called "public_key". Then run:

                    code.
                        gpg --import public_key
