doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content
                h1 Homepage

                .index__blocks
                    a.index__block(href="https://gitlab.com/n1_")
                        img(src="imgs/gitlab.png", alt="n1's Gitlab profile")

                    a.index__block(href="https://github.com/im-n1")
                        img(src="imgs/github.png", alt="n1's Github profile")
