doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content
                h1 Memories

                .memory__container
                    figure.memory
                        .memory__link
                            a(href="imgs/memories/firefox_addons.png", target="_blank")
                                img(src="imgs/memories/firefox_addons_tmb.png" alt="Firefox addons")
                        figcaption.memory__caption.
                            On 4th May someone in Mozilla forgot that their certificate
                            needs to be refreshed otherwise all addons around the world
                            will stop working because their new "signed" policy required
                            addons to be signed. There was no option to disable that and
                            Mozilla forgot about that cert so all addons were dead from
                            minute to minute and their data lost. We were angry.

                    small.memory__date 4th May 2019
