doctype html
html
    include src/_head.pug

    body
        .container
            include src/_sidebar.pug

            main.content
                h1 Projects

                article.project
                    header
                        h2 TranspoRS
                    p.
                        A command-line application for public transportation timesheets.
                        Shows nearest departures from your favourite stations at once place.

                    p.
                        Written in Rust with 12 dependencies. Binary size ~13 MB.

                    p: a(href="https://github.com/im-n1/transpors" target="_blank") Repository

                article.project
                    header
                        h2 Startpage
                    p.
                        Pure HTML + CSS startpage for my browser. Serves like a dashboard for
                            "new tab" page in a browser. Stylized into Gruvbox theme.

                    p.
                        Written in HTML and CSS. No Javascript.

                    p: a(href="https://github.com/im-n1/startpage" target="_blank") Repository

                article.project
                    header
                        h2 Karpet
                    p.
                        Library for fetching cryptocurrency data from various sources.
                        Among the data fetched data are historical data (prices), trends,
                        news and more. Fetching is done asynchronously if it possible.

                    p.
                        Written in Python 3 with 6 dependencies.

                    p: a(href="https://github.com/im-n1/karpet" target="_blank") Repository

                article.project
                    header
                        h2 Rug
                    p.
                        Library for fetching various stock data from the internet
                        (official and unofficial APIs). Scrapes the web and provides
                        data that are not so widely available or usually behind a paywall.

                    p.
                        Written in Python 3 with 1 dependency.

                    p: a(href="https://github.com/im-n1/rug" target="_blank") Repository

                article.project
                    header
                        h2 Eagle
                    p.
                        Eagle is a simple CLI todo tool. It's so simple
                        it hurts my coding skills. Can simply organize
                        your tasks into groups. A task might be also planned
                        to a certain date or might be recurring.

                    p.
                        The application is written in pure Python 3 with 0
                        dependencies.

                    p: a(href="https://github.com/im-n1/eagle", target="_blank") Repository
