$gap: 4rem
$content-width: 30rem

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext')

=hover-right($margin: .5rem)
    transition: margin .5s ease-out

    &:hover
        margin-left: $margin

=hover-top($margin: .5rem)
    transition: top .25s ease-out

    &:hover
        top: -1 * $margin


html, body
    min-height: 100%
    font: normal normal 1rem "Lato", sans-serif

////////////////////
//   Typography   //
////////////////////
h1
    font-size: 2rem
    margin: 0 0 3rem

h2
    font-size: 1.6rem
    margin-bottom: 1rem
    margin-top: 3rem

h3
    font-size: 1.25rem
    margin-bottom: 1rem
    margin-top: 3rem

p
    line-height: 1.5
    margin-bottom: 1rem

code, pre
    display: inline
    background: lightgray;
    padding: .25rem
    border-radius: .25rem

    &.block
        max-width: $content-width
        display: block
        margin-bottom: 1rem

a, a:visited
    color: initial

li
    margin-bottom: .5rem

dl
    dt
        float: left
        clear: left
        width: 10rem

    dt, dd
        margin-bottom: .5rem

.container
    grid-template-columns: 200px auto
    height: 100%

.content
    margin: 4rem 3rem 4rem calc(200px + 3rem)
    width: calc(100% - 200px - 3rem)
    font-size: .875rem


/////////////////
//   Sidebar   //
/////////////////
.sidebar
    background: #222
    color: #eee
    position: fixed
    top: 0
    height: 100%
    width: 200px

    &__me
        display: block
        text-align: center
        margin-top: $gap

    &__menu
        margin-top: $gap
        margin-left: 3rem

    &__menu-item
        font-size: 1.25rem
        margin-top: 1rem

        a
            +hover-right
            color: inherit
            display: block
            text-decoration: none

////////////////////
//   Index page   //
////////////////////
.index
    &__blocks
        display: flex
        justify-content: space-evenly
        align-items: center
        height: 100%

    &__block
        +hover-top(1rem)
        position: relative
        top: 0

///////////////////////
//   Projects page   //
///////////////////////
.project
    max-width: $content-width
    margin: 1rem 0

////////////////////
//   Dtops page   //
////////////////////
.dtop

    position: relative
    display: inline-block
    margin-bottom: $gap

    &__container
        width: 400px

    &__link
        &:hover
            + .dtop__label
                display: block
            img
                filter: blur(1px) grayscale(100%)

        img
            filter: grayscale(100%)

    &__label
        display: none
        position: absolute
        top: 50%
        left: 50%
        transform: translatex(-50%) translatey(-50%)
        color: #fff


///////////////////////
//   Memories page   //
///////////////////////
.memory
    display: flex

    &__container
        max-width: $content-width

    &__link
        margin-right: $gap / 2
        margin-bottom: $gap / 2

    &__caption
        @extend p
        width: calc(100% - 150px - (#{$gap} / 2))

    &__date
        display: block
        font-size: .75rem
        text-align: right
        font-style: italic

//////////////
//   Blog   //
//////////////
.blog
    &__article
        max-width: $content-width
        text-align: justify

    &__header
        p
            font-style: italic

    &__footer
        font-size: .75rem
        text-align: right
        font-style: italic

    &__article-list-item
        margin-bottom: $gap / 2
        list-style-type: initial
        margin-left: 1.5rem

/////////////////
//   Advices   //
/////////////////
.advices
    li
        margin-left: 1rem
        list-style: decimal
